* {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 60px;
}

h1 {
  color: #2f995b;
}

h4 {
  color: #99453f;
}
p {
  color: #e67d75;
}

h4,
h5,
h6 {
  margin: 4px;
}

h6 {
  color: grey;
}

header p {
  font-size: larger;
  color: black;
}

footer p {
  margin-right: 30px;
  margin-left: 20px;
}

p,
li {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  margin: 10px;
}

.vertical {
  flex-direction: column;
}

main {
  margin: 20px;
}

img {
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
}

body {
  background-color: #e6e4df;
}

.moustache {
  position: relative;
  left: -195px;
  top: -53px;
  width: 100px;
  animation-name: addMoustache, wiggleMoustache;
  animation-duration: 4s;
  animation-delay: 0s, 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1, infinite;
}

@keyframes addMoustache {
  from {
    left: -500px;
  }
  to {
    left: -170px;
  }
}

@keyframes wiggleMoustache {
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
